/* universal styling */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Noto+Sans+Syloti+Nagri&family=VT323&display=swap');

body {
    background: url(/assets/images/stardew-bg.jpg);
    font-family: 'Noto Sans Syloti Nagri', sans-serif;
    color: #fff;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    margin: 30px;
    font-family: 'DotGothic16', sans-serif;
    color: #000;
    align-items: center;
}

#social {
    display: inline-flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    background-color: #0E4A0E;
}

#copyright {
    position: relative;
    display: block;
    float: right;
    padding: 8px;
    border-radius: 8px;
    flex-wrap: wrap;
    background-color: #0E4A0E;
}

/* Home Page styling*/
#home-board {
    height: 575px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #0E4A0E;
    border: 10px solid #7F8A2E;
    color: #fff;
}

/* About Stardew styling*/
#about-board {
    height: 580px;
    width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #0E4A0E;
    border: 10px solid #7F8A2E;
    color: #fff;
}

#about-board p{
    margin: 10px 10px 10px 25px;
    text-align: left;
    font-size: 14px;
}

#about-board a{
    color: #fff;
    font-size: 14px;
}

#about-board h3{
    font-family: 'Noto Sans Syloti Nagri', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 10px 10px 25px;
    text-align: left;
}

/* Drop button styling */ 
.dropbutton {
    background-color: #0E4A0E;
    color: #fff;
    border: none;
    padding: 16px;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: block;
    float: right;
}

.drop-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #7F8A2E;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-content a:hover {
    background-color: #508a50;
}
.dropdown:hover .drop-content {
    display: block;
}
.dropdown:hover .dropbutton {
    background-color: #508a50;
}

/*Iridium(Expert) page styling*/

#iridiumboard {
    height: 575px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #0E4A0E;
    border: 10px solid #7F8A2E;
}

#errors, #matches, #points {
    background-color: #0E4A0E;
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    margin-left: 25%;
    margin: 2.5rem 8em 2.5rem 8rem;
}

.iridiumcard {
    height: 128px;
    width: 90px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer
}

/*Gold(Hard) page styling*/
#goldboard {
    height: 590gitpx;
    width: 435px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #0E4A0E;
    border: 10px solid #7F8A2E;
}

.goldcard {
    height: 135px;
    margin: 6px;
    border-radius: 8px;
    cursor: pointer
}

/*Silver(easy) page styling*/
#silverboard {
    height: 420px;
    width: 606px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #0E4A0E;
    border: 10px solid #7F8A2E;
}

.silvercard {
    height: 195px;
    margin: 6px;
    border-radius: 8px;
    cursor: pointer
}

