/* Universal Styling & Styling that Occurs on all pages*/
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Noto+Sans+Syloti+Nagri&family=VT323&display=swap');
body {
    background: url(../images/stardew-bg.jpg);
    font-family: 'Noto Sans Syloti Nagri', sans-serif;
    color: #fff;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    margin: 30px;
    font-family: 'DotGothic16', sans-serif;
    color: #000;
    font-size: 40px;
}

a {
    color: #fff;
}

#disclaimer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #0e4a0eb6;
    border-radius: 4px;
}

#copyrightimg {
    width: 77px;
    position: fixed;
    bottom: 20px;
    right: 2px;
}

#highscore {
    background-color: black;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 4px;
    font-size: 16px;
    margin: 0 auto;
    width: 535px;
    text-align: center;
}

/* Drop Button Styling some below taken from Stack Overflow (Referenced in README.md) */ 
.dropbutton {
    background-color: #0E4A0E;
    color: #fff;
    border: none;
    padding: 18px;
    font-size: 18px;
}

.dropdown {
    position: relative;
    display: block;
    float: right;
}

.drop-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #4c5317;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 150px;
}

.drop-content a:hover {
    background-color: #508a50;
}
.dropdown:hover .drop-content {
    display: block;
}
.dropdown:hover .dropbutton {
    background-color: #508a50;
}

fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    border: none;
    min-inline-size: min-content;
}

/* Buttons some of the styling below inspired by a Codepen (referenced in README.md)*/
#social-buttons, #social-buttons-text {
    display: inline-flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    background-color: #7f8a2e6b;
    font-size: 40px;
    margin: 0px 0px 0px 30px;
}

#social-buttons i:hover {
    color: #000;
    cursor: pointer;
}   

#social-buttons-text i:hover {
    color: #000;
    cursor: pointer;
}  

#social-buttons i {
    margin: 10px;
}   

#social-buttons-text i {
    margin: 10px;
}  

a:visited {
    color: #fff;
}

#social-buttons-text {
    margin: 30px;
}

.button {
    width: 175px;
    height: 80px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Noto Sans Syloti Nagri', sans-serif;
    background-color: #68190a;
    letter-spacing: 2.5px;
    border: 0px;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.button a {
    border: 30px;
    display: flex;
    padding-top: 25px;
    align-content: center;
    flex-direction: column-reverse;
}

#break a {
    padding-top: 15px;
}
  
.button:hover {
    background-color: #8c1c04;
    box-shadow: 0px 15px 20px rgba(140, 28, 4, 0.8);
}

.leftbutton {
    position: fixed;
    left: 12.5%;
    top: 40%;
}

.rightbutton {
    position: fixed;
    right: 12.5%;
    top: 40%;
}

/* Home Page Styling */
#home-board {
    height: 525px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    background-color: #0E4A0E;
    border: 10px solid #7F8A2E;
    flex-direction: column;
    padding-top: 20px;
}

#play {
    background-color: #3A7DA8;
    color: #3A7DA8;
    padding: 8px;
    border-radius: 8px;
    margin: 5.5rem 8em 2.5rem 8rem;
}

#play a {
    color: #fff;
    margin-left: 38.5%;
    text-decoration: none;
}

input {
    visibility:hidden;
}

label {
    cursor: pointer;
    background: #8c1c04;
    border-radius: 8px;
    font-size: 17px;
    padding: 8px;
    margin: 30px 25% 0px 25%;
}

input:checked + label {
    background: #68190a;
}

#levelchoice {
    background-color: black;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 4px;
    font-size: 32px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 520px;
    text-align: center;
}

#score-board {
    width: 25%;
    margin: 0 auto;
    background-color: #68190a;
    border: 10px solid #8c1c04;
    color: #fff;
    position: absolute;
}

/* About Stardew Styling */
#about-board {
    height: 580px;
    width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #0E4A0E;
    border: 10px solid #7F8A2E;
}

#about-board p {
    margin: 10px 10px 10px 25px;
    text-align: left;
    font-size: 14px;
}

#about-board > h3 { 
    font-family: 'Noto Sans Syloti Nagri', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 10px 10px 25px;
    text-align: left;
}

/* How to & About Stardew Styling */
#howto-board {
    height: 580px;
    width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #0E4A0E;
    border: 10px solid #7F8A2E;
    text-align: left;
    font-size: 22px;
}

#howto-board li {
    padding: 10px 12px 10px 12px;
}

#howto-board > h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 10px 10px 10px 25px;
    text-align: center;
}

/* Iridium Page Styling */
#iridiumboard {
    height: 555px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #0E4A0E;
    border: 10px solid #7F8A2E;
}

.iridiumcard {
    height: 128px;
    width: 90px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer
}

.iridiumcard.shake {
    animation: shake 0.2s ease-in-out;
}

/* Gold Page Styling */
#goldboard {
    height: 465px;
    width: 340px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #0E4A0E;
    border: 10px solid #7F8A2E;
}

.goldcard {
    height: 110px;
    margin: 3px;
    border-radius: 8px;
    cursor: pointer
}

.goldcard.shake {
    animation: shake 0.2s ease-in-out;
}

/* Silver Page Styling */
#silverboard {
    height: 420px;
    width: 606px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #0E4A0E;
    border: 10px solid #7F8A2E;
}

.silvercard {
    height: 195px;
    margin: 6px;
    border-radius: 8px;
    cursor: pointer
}

.silvercard.shake {
    animation: shake 0.2s ease-in-out;
}

@keyframes shake { /*styling taken from Code Nepal*/
    0%, 100% {
        transform: translateX(0px);
      }
      
      20% {
        transform: translateX(-13px);
      }

      40% {
        transform: translateX(13px);
      }

      60% {
        transform: translateX(-8px);
      }
    
      70% {
        transform: translateX(8px);
      }
    
}

#errors, #matches, #points {
    background-color: #0E4A0E;
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    margin: 0.5rem 7em 13px 7rem;
}

/* Media Qs */

@media (max-width: 1600px) {
    .leftbutton {
        left: 8%;
    }
    
    .rightbutton {
        right: 8%;
    }

    #social-buttons-text {
        margin: 9px;
    }

    #social-buttons {
        font-size: 36px;
    }

    #errors, #matches, #points {
        margin: 0.5rem 7em 6px 7rem;
    }

    #counters {
        margin-bottom: -9px;
    }
    
    #iridiumboard {
        height: 465px;
        width: 415px;
    }

    .iridiumcard {
        height: 110px;
        width: 77px;
        margin: 3px;
    }
}

@media (max-width: 1400px) {
    .leftbutton {
        left: 2%;
    }
    
    .rightbutton {
        right: 2%;
    }

    .button {
        width: 160px;
        font-size: 16px;
    }

    #score-board {
        width: 22%;
    }

    #score-board h2{
        font-size: 20px;
    }

    #howto-board {
        height: 540px;
        width: 550px;
    }

    #about-board {
        height: 560px;
        width: 550px;
    }

    #howto-board li {
        font-size: 18px;
    }

    #about-board h3{
        font-size: 14px;
        margin: 5px 0px 8px 10px;
    }

    #about-board p{
        font-size: 13px;
        margin: -7px 0px 10px 10px;
    }
}


@media (max-width: 1060px) {
    h1 {
        font-size: 35px;
        margin: 20px
    }
    #errors, #matches, #points {
        margin: 12px 40px 19px 40px;
    }

    #score-board {
        width: 18%;
    }

    #score-board h2{
        font-size: 18px;
    }
    #silverboard {
        height: 355px;
        width: 515px;
    }

    .silvercard {
        height: 169px;
        margin: 4px;
    }
}

@media (max-width: 850px) {
    h1 {
        font-size: 32px;
        margin: 15px
    }

    .dropbutton {
        padding: 15px;
        font-size: 16px;
    }

    #errors, #matches, #points {
        margin: 12px 40px 19px 40px;
    }

    #levelchoice {
        font-size: 24px;
        margin-bottom: 0px;
        width: 500px;
    }

    #home-board {
        height: 400px;
        width: 420px;
    }

    #score-board {
        width: 18%;
        top: 18%;
    }

    #score-board h2{
        font-size: 14px;
    }

    label {
        font-size: 16px;
        padding: 8px;
        margin: 10px 20% -10px 20%;
    }

    .button {
        width: 105px;
        font-size: 13px;
    }

    .button a {
        padding-top: 30px;
    }

    #break a {
        padding-top: 23px;
    }

    #smallscreen-edits a {
        padding-top: 23px;
    }

    #play {
        margin: 2.5rem 4rem 2.5rem 4rem;
    }

    #play a{
        margin-left: 25%;
    }

    #about-board {
        height: 625px;
        width: 480px;
    }

    #howto-board {
        height: 580px;
        width: 480px;
    }

    #disclaimer {
        font-size: 12px;
    }
}    

@media (max-width: 650px) {
    h1 {
        font-size: 26px;
        margin: 8px
    }

    .dropbutton {
        padding: 11px;
        font-size: 14px;
    }

    h2 {
        font-size: 16px;
    }

    #errors, #matches, #points {
        margin: 5px 25px 10px 25px;
    }

    #home-board {
        margin-top: 5px;
        height: 360px;
        width: 480px;
    }

    #score-board {
        margin-top: 5px;
        width: 91.5%;
        position: inherit;
    }

    #score-board h2{
        font-size: 14px;
    }

    #social-buttons {
        font-size: 28px;
        padding: 5px;
        margin: 0px 0px 0px 15px;
    }

    label {
        font-size: 16px;
        padding: 8px;
        margin: 10px 20% -10px 20%;
    }
    
    .button {
        width: 82px;
        font-size: 10px;
        border-radius: 20px;
    }

    .button a {
        padding-top: 30px;
    }

    #break a {
        padding-top: 23px;
    }

    #smallscreen-edits a {
        padding-top: 23px;
    }

    #play {
        margin: 2.5rem 6rem 2.5rem 6rem;
    }

    #play a {
        margin-left: 35%;
    }

    #about-board {
        height: 625px;
        width: 480px;
    }

    #howto-board {
        height: 580px;
        width: 480px;
    }
    .leftbutton {
        left: 0.5%;
    }
    
    .rightbutton {
        right: 0.5%;
    }
    
    .silvercard {
        height: 110px;
        margin: 3px;
    }

    #silverboard {
        height: 236px;
        width: 339px;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 23px;
        margin: 8px;
    }

    .dropbutton {
        padding: 11px;
        font-size: 14px;
    }

    #score-board {
        margin-top: 5px;
        width: 88.5%;
        height: 100px;
        position: inherit;
    }

    #levelchoice {
        font-size: 20px;
        margin-bottom: 0px;
        width: 90%;
    }

    #home-board {
        height: 300px;
        width: 80%;
    }

    label {
        font-size: 16px;
        padding: 8px;
        margin: -12px 20% -10px 20%;
    }
    
    #play {
        margin: 2.5rem 4rem 2.5rem 4rem;
    }

    #copyrightimg {
        width: 60px;
        bottom: 15px;
        right: 1px;
    }

    #social-buttons-text {
        margin: 9px;
        font-size: 30px;
    }

    #disclaimer {
        font-size: 8px;
    }

    #highscore {
        width: 90%;;
    }

    .button {
        width: 150px;
        font-size: 12px;
    }

    #break a {
        padding-top: 30px;
    }

    .rightbutton {
        position: relative;
        display: inline-flex;
        margin: 5px 0 0 10px;
    }

    .leftbutton {
        position: relative;
        display: inline-flex;
        margin: 5px 10px 0px 0px;
    }

    #errors, #matches, #points {
        margin: 8px 12px 15px 12px;
    }

    #iridiumboard {
        height: 385px;
        width: 340px;
    }

    .iridiumcard {
        height: 90px;
        width: 62px;
    }

    #about-board {
        height: 884px;
        width: 330px;
    }

    #howto-board {
        height: 600px;
        width: 330px;
    }

    #howto-board li{
        font-size: 14px;
    }

    #mobilebutton-margin {
        margin-top: 5px;
    }

}